@tailwind base;
@tailwind components;
@tailwind utilities;

@media(min-width: 0px) {
    .contenir-3{
        max-width: 1600px;
        padding: 0px 20px;
        margin: auto;
    }
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 40px;
        }